[submodule "projects/Doxygen/doxygen-awesome-css"]
	path = projects/Doxygen/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "OIS"]
	path = OIS
	url = https://github.com/wgois/OIS.git
[submodule "raygui"]
	path = raygui
	url = https://github.com/joshuadahlunr/raygui.git
